<div class="navbar-fixed">
  <nav class="deep-orange darken-2">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo center">MyBlog</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Entrar</a></li>
        <li><a routerLink="/usuarios/cadastro">Cadastre-se</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/">Entrar</a></li>
  <li><a routerLink="/usuarios/cadastro">Cadastre-se</a></li>
</ul>
