<div class="row">
  <form autocomplete="off" class="col s12" (ngSubmit)="salvarUsuario()" [formGroup]="formulario">

    <div class="input-field col s12 m12">
      <input required name="nome" id="nome" type="text" class="validate" formControlName="nome">
      <label id="nomeLabel" for="nome">Nome</label>
      <span class="helper-text" data-error="Nome inválido"></span>
    </div>

    <div class="input-field col s12 m12">
      <input required email name="email" id="email" type="email" class="validate" formControlName="email">
      <label id="emailLabel" for="email">E-Mail</label>
      <span class="helper-text" data-error="E-Mail inválido"></span>
    </div>

    <div *ngIf="!isEditando()" class="input-field col s12 m12">
      <input required minlength="5" name="senha" id="senha" type="password" class="validate" formControlName="senha">
      <label for="senha">Senha</label>
      <span class="helper-text" data-error="Senha deve ter no mínimo 5 caracteres"></span>
    </div>

    <div *ngIf="!isEditando()" class="input-field col s12 m12">
      <input name="confirmacaoSenha" id="confirmacaoSenha" type="password" formControlName="confirmacaoSenha">
      <label for="confirmacaoSenha">Confirmação da senha</label>
      <span class="helper-text" data-error="Senhas não são iguais"></span>
    </div>

    <div class="center">
      <button [disabled]="formulario.invalid" dis class="waves-effect waves-light btn-large"
        type="submit">Cadastrar</button>
    </div>
  </form>

</div>
